:root {
  --back_dark: #252525;
  --white: #ffffff;
  --black: #000000;
  --grey: #838790;
  --text: #43425d;
  --light: #ececf7;
  --title: #43425d;
  --primary_blue: #2c27a1;
  --shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  --border: #9A9AB6;
  --shadowMain: 0 4px 24px rgba(0, 0, 0, 0.12);

  --back_linkBlue: rgb(33, 150, 243);
  --back_linkFiolet: rgb(80, 72, 114);
  --back_block: rgb(247, 247, 255);

  --test: #8dfcf6ad;

  // number variables
  --borderR: 15px;

  // for calendar
  --light_body: #f3f8fe;
  --light_many: #fdfdfd;
  --light_second: #c3c2c8;
  --light_hover: #edf0f5;
  --light_text: #151426;
  --blue: #0000ff;
  --shadow_calendar: rgba(100, 100, 111, 0.2);
  --ff: cursive;

}

:root[theme='test'] {
  --white: #000000;
}