.about {
  &_fact {
    &_list {
      padding-left: 25px;

      &_item {
        list-style-type: square;
        line-height: 24px;
      }

      &_item:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  &_public {
    &_img {
      padding: 25px 0;
      border-top: 1px solid #dbdbe9;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }
}