.appeal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  &_item {
    img {
      width: 100%;
    }
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }
}

@media(max-width: 670px) {
  .appeal {
    grid-template-columns: 1fr;
  }
}