.footer {
  background: var(--back_dark);
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  position: relative;
  padding: 0 35px;
  left: 260px;

  &_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    img {
      height: 50px;
    }
  }

  &_close {
    left: 78px;
    width: calc(100% - 78px);
  }

  &_useful {
    &_links {
      &_item {
        padding: 5px;


        img {
          height: 25px;
        }
      }

      &_item:not(:last-child) {
        border-bottom: 1px solid #9a9ab6;
      }
    }
  }

  &_socials {
    &_wrap {
      display: flex;
      gap: 10px;
    }
  }
}