.form {
  &_appeal {

    &_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    max-width: 800px;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
  }

  &_titleMain {
    text-align: center;
  }

  &_title {
    margin-top: 20px;
    text-align: center;
  }

  &_subtitle {
    text-indent: 30px;
    text-align: justify;
  }

  &_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .input_field {
    color: var(--title);
  }

  .input_label {
    font-weight: 600;
  }

  .input_icon {
    top: 65%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

    &:hover {
      transform: translate(0, -50%) scale(1.1);
      -webkit-transform: translate(0, -50%) scale(1.1);
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition-delay: 0.2ms;
      -webkit-transition-delay: 0.2ms;
    }
  }

  &_choose {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    max-width: 600px;
    background: var(--white);
    height: 100px;
    border-radius: var(--borderR);
    border: 1px solid var(--primary_blue);
    padding: 20px 15px;

    input {
      display: none;
      pointer-events: none;
    }

    .option {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      background: var(--white);
      width: 100%;
      height: 100%;
      border: 2px solid var(--light);
      border-radius: var(--borderR);
      // margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;


      &_dot {
        background: var(--light);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;


        &::before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          background: var(--primary_blue);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.5);
          border-radius: 50%;
          opacity: 0;
          transition: all .3s ease;
        }
      }

      span {
        color: #808080;
        font-size: 20px;
        transition: all .3s ease;
        user-select: none;
      }

      &_active {
        background: var(--primary_blue);
        border: 1px solid var(--primary_blue);
        transition: all .3s ease;

        .option_dot {
          background: var(--white);
        }

        .option_dot::before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }

        span {
          color: var(--white);
        }
      }


    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  &_message {
    margin-top: 5px;
    font-weight: 500;
    display: block;
    transition: .3s ease-in-out;
  }
}