.header {
  &_inner {
    padding: 0 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 295px;
    width: calc(100% - 295px);
    transition: all 0.5s ease;
    background: var(--back_dark);
    color: var(--white);
  }

  &_close {
    left: 78px;
    width: calc(100% - 78px);
  }

  &_acc {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    span {
      font-weight: 500;
    }
  }

  &_burger {
    cursor: pointer;
    height: 45px;
    width: 45px;
    background: var(--white);
    border-radius: 50%;
    position: relative;
    z-index: 5;

    img {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-40%, -50%);
      width: 25px;
      transition: all .3s ease;
    }

    &_active {
      img {
        transform: scale(-1, 1) translate(20%, -50%);
      }
    }

    @media(max-width: 980px) {
      img {
        width: 20px;
      }
    }
  }

}

.icon {
  width: 40px;
  height: 40px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  width: 295px;
  background: var(--white);
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, .16);
  color: #000;
  transition: all .5s ease;

  &_inner {
    height: calc(100% - 70px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      // background: var(--back_dark);
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);


    &_item {
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.4s ease;
      padding: 0 15px;
      cursor: pointer;
      position: relative;

      a {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &:hover {
        background: var(--light);
      }



    }

    &_name {
      color: var(--text);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      white-space: nowrap;
      transition-delay: .2s;
    }

    &_icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: var(--light);
      color: #002e5f;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &_sublist {
    display: none;
    background-color: var(--light);
    transition: all 0.4s ease;

    &_item {
      font-size: 18px;
    }
  }

  &_info {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    transition-delay: 0.2s;
    font-size: 14px;
    line-height: 22px;
  }

  &_socials {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition-delay: .2s;

    &_link {
      border: 1px solid var(--border);
      border-radius: 5px;
      height: 35px;
      width: 35px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    &_icon {
      width: 25px;
    }
  }

  .btn_link {
    font-size: 16px;
  }

  &_close {
    width: 78px;

    .sidebar_inner {
      height: 100%;
    }

    .logo_details {
      &_name {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
      }
    }

    .sidebar_list_name,
    .sidebar_info,
    .sidebar_socials {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }

    .sidebar_info {
      display: none;
    }

    .sidebar_list_icon:hover .sidebar_list_name {
      opacity: 1;
    }

  }
}

.logo_details {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 25px;

  img {
    width: 45px;
    height: 45px;
  }

  &_name {
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s ease;
    transition-delay: .1s;
    color: var(--title);
  }
}

@media(max-width: 600px) {
  .header {

    &_inner {
      width: calc(100% - 270px);
      left: 270px;
      padding: 0 10px;
    }

    &_close {
      left: 60px;
      width: calc(100% - 60px);
    }



    &_acc {
      span {
        display: none;
      }
    }

    &_burger {
      width: 40px;
      height: 40px;
    }
  }

  .sidebar {
    width: 270px;

    &_close {
      width: 60px;
    }

    &_list {
      &_item {
        padding: 0 10px;
      }

      &_icon {
        width: 40px;
        height: 40px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      &_name {
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
      }
    }

    &_info {
      p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
      }
    }
  }

  .logo_details {
    padding: 0 10px;
    gap: 15px;

    img {
      width: 40px;
      height: 40px;
    }
  }

}

@media(max-width: 464px) {
  .header {
    &_inner {
      height: 65px;
    }

    &_acc {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  .logo_details {
    height: 65px;
  }
}

@media(max-width: 400px) {
  .header {
    &_inner {
      left: 220px;
      width: calc(100% - 220px);
      height: 55px;
    }

    &_close {
      left: 60px;
      width: calc(100% - 60px);
    }

    &_burger {
      width: 35px;
      height: 35px;

      img {
        width: 15px;
      }
    }
  }

  .sidebar {
    width: 220px;

    &_close {
      width: 60px;
    }

    .btn_link {
      font-size: 14px;
    }
  }

  .logo_details {
    height: 55px;

    &_name {
      font-size: 28px;
      line-height: 34px;
    }
  }
}