.home {
  &_news {
    &_wrap {
      position: relative;
      // z-index: 10;
      width: calc(100% - 295px);
      left: 295px;
      transition: all .5s ease;

      &_close {
        left: 78px;
        width: calc(100% - 78px);
      }
    }
  }

  &_news {
    background: rgba(16, 22, 34, .74);
    // padding: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    color: var(--white);

    &_nav {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  &_link {
    a {
      background: var(--back_linkFiolet);
    }

    &:hover {
      a {
        background: rgb(45 39 71);
      }
    }
  }

  &_banner {
    overflow: hidden;
    background-image: url('images/banners/rosfin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
    width: 100%;
    position: relative;
    color: var(--white);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60%;
      width: 100%;
      background: linear-gradient(180deg, rgba(125, 185, 232, 0) 0, #002e5f);
      transition: .2s;
      z-index: 1;
    }

    &_info {
      transform: translateY(100px);
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      transition: .3s;
      padding: 25px;

      &_title,
      &_desc {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        word-break: break-all;
      }

      &_category {
        font-size: 18px;
        padding: 10px 15px;
        border: 2px solid var(--white);
        border-radius: 30px;
        width: fit-content;
      }

      &_desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        font-weight: 400;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 130px;
          bottom: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(125, 185, 232, 0) 0, #002e5f);
        }
      }

      &_date {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 500;

        img {
          width: 35px;
        }
      }
    }

    &:hover:before {
      background: #002e5fde;
      height: 100%;
    }

    &:hover &_info {
      transform: translateY(0);
      z-index: 2;
    }
  }

  &_events {
    &_link {
      border-color: var(--title);
      color: var(--title);

      &:hover {
        color: var(--white);
        background: var(--title);
      }
    }
  }
}

@media(max-width: 1200px) {
  .home {
    &_news {
      &_wrap {
        width: calc(100% - 78px);
        left: 78px;
      }
    }

    &_banner {
      height: 250px;

      &_info {
        transform: translateY(75px);

        &_date {
          font-size: 18px;

          img {
            width: 25px;
          }
        }

        &_title,
        &_desc {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}

@media(max-width: 1100px) {

  .home {
    &_banner {
      height: 220px;

      &_info {
        transform: translateY(55px);
        gap: 13px;
      }
    }
  }
}


@media(max-width: 600px) {
  .home {
    &_news {
      &_wrap {
        width: calc(100% - 60px);
        left: 60px;
      }
    }

    &_banner {
      height: 150px;
      background-position: left center;
    }
  }
}

@media(max-width: 464px) {
  .home {
    &_banner {
      &_info {
        padding: 15px;
        gap: 10px;

        &_date {
          font-size: 16px;
        }

        &_title,
        &_desc {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}