.news {

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    min-height: 450px;
    position: relative;

    .newCard {
      // background: var(--white);
      // border-radius: var(--borderR);
      // box-shadow: var(--shadowMain);

      &_img {
        width: 100%;
        height: 245px;
      }
    }
  }
}

// inner page

.new {
  display: flex;
  gap: 30px;

  &_profile {
    display: block;
    height: fit-content;
    position: sticky;
    top: 90px;
    width: 300px;

    &>div:not(:last-child) {
      margin-bottom: 15px;
    }

    &_image,
    &_info {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    &_image {
      height: 200px;
      border-radius: var(--borderR);

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: var(--borderR);
      }
    }

    &_info {
      border-bottom-left-radius: var(--borderR);
      border-bottom-right-radius: var(--borderR);
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      &_category {
        padding: 5px 8px;
        border: 1px solid var(--primary_blue);
        color: var(--primary_blue);
        border-radius: 30px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        transition: all .3s ease;
        cursor: default;
        width: fit-content;

        &:hover {
          background: var(--primary_blue);
          color: var(--white);
        }
      }

      &_location {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  &_content {
    width: calc(100% - 300px);

    &_title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &_text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      padding-bottom: 5px;
      text-align: justify;
    }
  }
}

@media(max-width: 1200px) {
  .news {
    .filter {
      display: none;

      &_mobile {
        position: fixed;
        z-index: 100;
        left: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 100%;
        transform: translateX(0px);
        transition: transform .4s ease 0s;
        background-color: var(--white);
        opacity: 0;
        pointer-events: none;

        &_active {
          transform: translateX(-100%);
          opacity: 1;
          pointer-events: all;
          width: 100%;
        }

        &_wrap {
          display: block;
        }
      }
    }

    .newCard {
      &_img {
        height: 170px;
      }
    }
  }
}

@media(max-width: 1100px) {
  .news {
    &_list {
      grid-template-columns: repeat(2, 1fr);
    }

    .newCard {
      &_img {
        height: 200px;
      }
    }
  }
}

@media(max-width: 992px) {
  .news {
    .newCard {
      &_img {
        height: 175px;
      }
    }
  }
}

@media(max-width: 800px) {
  .news {
    .newCard {
      &_img {
        height: 155px;
      }
    }
  }

  .new {
    flex-direction: column;

    &_profile {
      width: 100%;
      position: relative;
      top: auto;

      &_info {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }

    &_content {
      width: 100%;
    }
  }
}

@media(max-width: 730px) {
  .news {
    &_list {
      grid-template-columns: 1fr;
    }

    .newCard {
      &_img {
        height: 230px;
      }
    }
  }
}

@media(max-width: 530px) {
  .news {
    .newCard {
      &_img {
        height: 200px;
      }
    }
  }
}

@media(max-width: 475px) {
  .news {
    .newCard {
      &_img {
        height: 225px;
      }
    }
  }
}

@media(max-width: 420px) {
  .news {
    .newCard {
      &_img {
        height: 200px;
      }
    }
  }
}

@media(max-width: 360px) {
  .news {
    .newCard {
      &_img {
        height: 180px;
      }
    }
  }
}

@media(max-width: 320px) {
  .news {
    .newCard {
      &_img {
        height: 160px;
      }
    }
  }
}