.particles {
  &_wrap {
    background-image: url('images/backImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    height: 600px;
    width: 100%;
    position: relative;

    @media(max-width: 992px) {
      height: 550px;
    }
  }


}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}