.players {

  &_tabs {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    margin-bottom: 25px;
    width: fit-content;
    border-radius: var(--borderR);
    display: flex;

    &_item {
      opacity: .6;
      padding: 15px;
      display: inline-block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      cursor: pointer;
      transition: all .2s ease;
      color: var(--title);

      &:hover {
        opacity: 1;
      }

      &_active {
        opacity: 1;
      }

      &_person {
        color: var(--primary_blue);
      }

      &_community {
        color: red;
      }
    }

    &_item:not(:last-child) {
      border-right: 1px solid var(--light);
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &_item {
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 15px;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
      border-radius: var(--borderR);
      position: relative;
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
      cursor: pointer;
      color: var(--title);

      &:hover {
        box-shadow: 0 12px 36px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
      }

      &_circle {
        width: 150px;
        height: 150px;
        background: var(--white);
        border-radius: 50%;
        overflow: hidden;
        box-shadow: inset 0 0 0 3px #dbdbe9, inset 0 0 0 4px #fff;
      }

      &_image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
        box-shadow: inset 0 0 0 3px #dbdbe9, inset 0 0 0 4px #fff;
        background-repeat: no-repeat;
        background-position: top;
      }

      &_info {
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &_status {
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
          border-top-right-radius: var(--borderR);
          border-bottom-left-radius: var(--borderR);
          color: var(--white);
          padding: 5px 8px;
          background: var(--primary_blue);

          &_company {
            background: red;
          }
        }
      }

      &_title {
        font-weight: 600;
        font-size: 18px;
      }

      &_post {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
      }

      &_location {
        position: absolute;
        bottom: 0;
        display: flex;
        gap: 15px;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

.profile {
  display: flex;
  gap: 30px;

  &_user {
    display: block;
    height: fit-content;
    position: sticky;
    top: 90px;
    width: 300px;

    >div {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
      padding: 20px;
    }

    >div:last-child {
      border-bottom-left-radius: var(--borderR);
      border-bottom-right-radius: var(--borderR);
    }

    >div:not(:last-child) {
      margin-bottom: 15px;
    }

    &_image {
      border-top-left-radius: var(--borderR);
      border-top-right-radius: var(--borderR);
      display: grid;
      place-items: center;
      position: relative;
      grid-area: image;

      &_circle {
        width: 150px;
        height: 150px;
        background: var(--white);
        border-radius: 50%;
        overflow: hidden;
        box-shadow: inset 0 0 0 3px #dbdbe9, inset 0 0 0 4px #fff;
        border: 3px solid #dbdbe9;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 0 3px #dbdbe9, inset 0 0 0 4px #fff;
        }
      }
    }

    &_info {
      display: grid;
      gap: 10px;
      grid-area: info;

      &_name {
        font-size: 18px;
        line-height: 22px;
        color: var(--title);
        font-weight: 600;
      }

      &_birth,
      &_location,
      &_reg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span:first-child {
          font-weight: 500;
        }
      }
    }

    &_placeWork {
      display: flex;
      grid-area: placeWork;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span:first-child {
        font-weight: 500;
      }

      &_place {
        border: 1px solid #fb830b;
        color: #fb830b;
        border-radius: 30px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        padding: 5px 8px;
        transition: all .3s ease;
        cursor: default;
        display: flex;
        align-items: baseline;

        img {
          width: 20px;
          transition: all .3s ease;
        }

        &:hover {
          background: #fb830b;
          color: var(--white);

          img {
            filter: brightness(0) saturate(100%) invert(92%) sepia(99%) saturate(0%) hue-rotate(70deg) brightness(112%) contrast(98%);
          }
        }
      }
    }
  }

  &_content {
    width: calc(100% - 300px);

    &_title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &_text {
      font-size: 16px;
      line-height: 22px;
      font-size: 500;
      padding-bottom: 5px;
    }

    &_activity {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      &_item {
        border: 1px solid var(--primary_blue);
        color: var(--primary_blue);
        background: transparent;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        transition: all .3s ease;
        border-radius: 30px;
        width: fit-content;
        padding: 8px 10px;
        cursor: default;

        &:hover {
          background: var(--primary_blue);
          color: var(--white);
        }
      }
    }

    &_cover {
      margin: 15px 0;

      img {
        width: 100%;
        border-radius: var(--borderR);
      }
    }

    &_list {
      padding: 10px 0 0 25px;

      &_title {
        font-weight: 600;
      }

      &_item {
        list-style-type: square;

      }
    }

    &_media {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;

      &_item {
        width: 120px;
        height: 120px;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: var(--borderR);
        }
      }
    }

    &_videoWrap {
      // по стандарту youtube соотношение сторон 16:9
      padding-top: 56.25%;
      width: 100%;
      position: relative;
      background: #eeeeee8a url('svg/icons/dark/play.svg') no-repeat center;
      background-size: 20%;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background-size: 21%;
      }
    }

    &_video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &_slider {
    .carousel_person {
      margin: 0 15px;
    }
  }
}

@media(max-width: 1200px) {
  .players {
    .filter {
      display: none;
    }

    &_tabs {
      margin-bottom: 20px;
    }

    &_list {
      gap: 15px;

      &_item {

        &_info {
          justify-content: space-between;
        }

        &_location {
          position: relative;
          bottom: auto;
        }
      }
    }
  }
}

@media(max-width: 1100px) {
  .players {
    &_list {
      &_item {
        &_title {
          font-size: 16px;

        }

        &_circle {
          width: 120px;
          height: 120px;
        }

        &_info {
          gap: 10px;

          &_status {
            font-size: 14px;
            line-height: 18px;
          }
        }

        &_post {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 0;
          -webkit-line-clamp: 2;
        }

        &_location {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .players {
    &_list {
      &_item {
        grid-template-columns: 1fr;
        gap: 0;
        place-items: center;

        &_title {
          font-size: 15px;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        &_post {
          -webkit-line-clamp: 1;
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .profile {
    flex-direction: column;

    &_user {
      position: relative;
      top: auto;
      width: 100%;
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'image info'
        'placeWork placeWork';

      >div:not(:last-child) {
        margin-bottom: 0;
      }

      &_image {
        border-top-right-radius: 0;

        .players_list_item_info_status {
          border-top-right-radius: 0;
        }
      }

      &_info {
        border-top-right-radius: var(--borderR);
      }
    }

    &_content {
      width: 100%;
    }
  }
}

@media(max-width: 670px) {
  .profile {
    &_user {
      display: block;

      >div:not(:last-child) {
        margin-bottom: 15px;
      }

      &_image {
        border-top-right-radius: var(--borderR);

        .players_list_item_info_status {
          border-top-right-radius: var(--borderR);
        }
      }

      &_info {
        border-top-right-radius: 0;
      }
    }
  }
}

@media(max-width: 625px) {
  .players {

    &_tabs {
      &_item {
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
      }
    }

    &_list {
      grid-template-columns: 1fr;

      &_item {
        place-items: start;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        align-items: center;

        &_circle {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media(max-width: 464px) {
  .players {
    &_list {
      &_item {
        &_circle {
          width: 80px;
          height: 80px;
        }

        &_info {
          padding-top: 15px;
        }
      }
    }
  }
}

@media(max-width: 425px) {
  .players {
    &_list {
      &_item {
        grid-template-columns: 1fr;
        place-items: center;

        &_circle {
          width: 150px;
          height: 150px;
        }

        &_post {
          -webkit-line-clamp: 2;
        }

        &_location {
          justify-content: center;
        }
      }
    }
  }
}

@media(max-width: 370px) {
  .players {
    &_tabs {
      &_item {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &_list {
      gap: 10px;

      &_item {
        &_circle {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}