.preloader {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


  animation: rotatePreloader 2s infinite ease-in;

  // &_logo {
  //   width: 100px;
  //   height: 100px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   display: block;
  //   transform: translate(-50%, -50%);
  // }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0%;
      width: 10%;
      height: 10%;
      background-color: var(--title);
      transform: translateX(-50%);
      border-radius: 50%;
    }
  }

  &_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);

    &::before {
      content: '';
      background-image: url('svg/racib.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: opacityImage 2s infinite ease-in;
      transition: all .5s ease;
    }
  }
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes opacityImage {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@for $i from 1 through 10 {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / 10) * ($i - 1)) + deg);
    animation: rotateCircle + $i 2 + s infinite linear;
    z-index: 10 - $i;
  }

  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / 10) * ($i - 1)) / 100)} {
      opacity: 0;
    }

    #{percentage((((50 / 10) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / 10) * ($i - 2))) + deg);
    }

    #{percentage((((50 / 10) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / 10) * ($i - 1))) + deg);
    }

    #{percentage(((50 + ((50 / 10) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / 10) * ($i - 1))) + deg);
    }

    100% {
      transform: rotateZ((0 - ((360 / 10) * (10 - 1))) + deg);
      opacity: 1;
    }
  }
}