@import 'utils/variables.scss';
@import 'utils/fonts.scss';
@import 'utils/globalClass.scss';

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-height: 100%;
}

html,
body {
    height: var(--app-height);
}

html {
    scrollbar-color: var(--akebi_purple) transparent;
    scrollbar-width: thin;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

button {
    padding: 0;
    border: 0;
}

input {
    font-family: 'Montserrat';
}

#app {
    min-height: var(--app-height);
    display: flex !important;
    flex-direction: column;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0 !important;
    overflow: overlay;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--title);

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--back_dark);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--back_block);
    }
}



.main_wrap {
    flex-grow: 1;
    order: 1;
}

.main {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    padding: 80px 15px 0 15px;
    // padding: 15px;
    transition: all 0.5s ease;

    &_close {
        left: 78px;
        width: calc(100% - 78px);
    }
}



.footer_wrap {
    order: 1;
}